<div class="{{{inputWrapperClass}}}" id="field-{{name}}-container">
	<label for="{{name}}">{{#if summary}}{{summary}}{{else}}{{label}}{{/if}}{{#if isrequired}} <ins>Required</ins>{{/if}}</label>
	{{#if summary}}</br>{{/if}}
	<input type="text" {{{commonInputAttributes}}} value="{{value}}"{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}/>
</div>
