<div id="mura-cta-{{instanceid}}" class="mura-cta__item"
	data-mura-cta-animate="{{animate}}"
	data-mura-cta-animatespeed="{{animatespeed}}"
	data-mura-cta-type="{{type}}"
>
	<div class="mura-cta__item__wrapper"
		data-mura-cta-size="{{width}}">
		<div class="mura-cta__item__content"></div>
		<div class="mura-cta__item__dismiss"></div>
	</div>
</div>
