<div class="{{{inputWrapperClass}}}" id="field-{{name}}-container">
	<label for="{{name}}_attachment">{{label}}{{#if isrequired}} <ins>Required</ins>{{/if}}</label>
	<input type="file" {{{commonInputAttributes}}}/>
</div>
